In [1]:
import pandas as pd
import datetime as dt
import os, re

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'Calendar to List.xlsx',
 'main.ipynb',
 'tasks_outline.html']

In [3]:
file_name = "Calendar to list.xlsx"
date_format = "%A, %B %d"

In [4]:
df = pd.read_excel(file_name)

In [5]:
df

,Unnamed: 0,2023-08-08 00:00:00,2023-08-09 00:00:00,2023-09-01 00:00:00,2023-09-02 00:00:00
0,Creative,Creative meeting to kick off,NaN,NaN,NaN
1,Development,Developer to sign off on idea\n\nAgree upon po...,Milestone #1 for developers,NaN,Milestone #2
2,Review,NaN,NaN,Review Milestone #1,NaN
3,QA,NaN,NaN,NaN,QA Milestone #1

In [6]:
df[df.columns[1]].dropna()

0                         Creative meeting to kick off
1    Developer to sign off on idea\n\nAgree upon po...
Name: 2023-08-08 00:00:00, dtype: object

In [7]:
date_columns = df.columns[1:]
html_outline = "<div><ul>"
for date in date_columns:
    
    html_outline += f"<li><h1>{date.strftime(date_format)}</h1>\n<ul>\n"
    
    for task in df[date].dropna():
        subtasks = re.split(r"\n+", task)
        for subtask in subtasks:
            html_outline += f"<li>{subtask}</li>\n"
            
    html_outline += "</ul></li>\n"
html_outline += "</ul></div>"

In [8]:
with open("tasks_outline.html", "w") as f:
    f.write(html_outline)

print("HTML outline generated successfully!")

HTML outline generated successfully!